.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    background-color: $secondaryColor;
  }
  &__date {
    display: flex;
  }
  &__list {
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 0;
    display: flex;
    overflow-y: scroll;
    width: 400px;
    scrollbar-width: none;
  }
  &__menu {
    overflow-y: hidden;
  }
  &__item {
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    height: 30px;
    &--active {
      --line-color: #c23f3f;
      background-image: paint(placeholder-box);
    }
  }
}
